{
  "plugins": [
    "prettier-plugin-packagejson",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ],
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf",
  "attributeGroups": [
    "$PRECEDENCE",
    "^v-if$",
    "^v-for$",
    "^v-model$",
    "^v-else$",
    "^:key$",
    "^id$",
    "^ref$",
    "$PROPS",
    "^class$"
  ],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/|^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
