@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "business";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --radius-selector: 0.25rem; /* 0.25rem oder 0.5rem */
    --radius-field: 0.5rem; /* 0.5rem oder 1rem */
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "corporate";
    default: true;
    color-scheme: "light";
    --radius-selector: 0.25rem; /* 0.25rem oder 0.5rem */
    --radius-field: 0.5rem; /* 0.5rem oder 1rem */
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "green";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(97% 0.021 166.113);
    --color-base-200: oklch(95% 0.052 163.051);
    --color-base-300: oklch(90% 0.093 164.15);
    --color-base-content: oklch(37% 0.077 168.94);
    --color-primary: oklch(80% 0.114 19.571);
    --color-primary-content: oklch(25% 0.092 26.042);
    --color-secondary: oklch(80% 0.105 251.813);
    --color-secondary-content: oklch(28% 0.091 267.935);
    --color-accent: oklch(0% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(37% 0.077 168.94);
    --color-neutral-content: oklch(97% 0.021 166.113);
    --color-info: oklch(70% 0.165 254.624);
    --color-info-content: oklch(28% 0.091 267.935);
    --color-success: oklch(77% 0.152 181.912);
    --color-success-content: oklch(27% 0.046 192.524);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 0.5rem;
    --radius-field: 2rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 1;
    --noise: 1;
}
